/* 
 
 Coded By RedToweR


 */
 
 body { background-image:url(back.png);  }
 label { font-family:"Comic Sans MS", cursive, sans-serif; }
.inputnick { background-image:url(inputnick.png); height:42px; width:270px;border:solid 1px; color:black;text-align:center;font-size:18px;margin : 5px 5px 5px 5px; }
.inputemail { background-image:url(inputemail.png); height:42px; width:270px;border:solid 1px; color:black;text-align:center;font-size:18px;margin : 5px 5px 5px 5px; }
.mesaj { background-image:url(mesaj.png); height:100px; width:270px;margin : 5px 5px 5px 5px; } 
.butonla { background-color:white;height:30px; width:132px;opacity:0.7;border:1px solid;margin : 5px 5px 5px 5px;}
.guvenlebana { margin-left:80px;margin-top:7px;font-size:11px; }
.gir { margin-left:100px;font-size:13px; }
.cinsiyet  { font-size:16px;margin-left:105px;font-family:Comic sans MS; }
.avatar  { margin-left:40px;margin-top:1px;font-size:14px;font-family:Comic sans MS;margin-top:4px; }
a.logocuk img{
filter:alpha(opacity=50); -moz-opacity: 1.0; opacity: 1.0;
} 
a.logocuk:hover img{
filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5;
}
.logo { width:448; height:134; }
 
 ul#minitabs{
    padding-top:60px;
    font: 100% Arial,sans-serif;
    list-style: none;    
	margin: -100px;
	margin-right:20px;
    padding: 7px 0;
    font-weight: bold;
	border-radius: 5px;
	margin-bottom: -234px;
	float:right;
    white-space: nowrap
}
ul#minitabs li{
    display: inline;
    margin: 0 3px
}
ul#minitabs a{
    text-decoration: none;
    padding: 0 0 3px;
    border-bottom: 4px solid #FFF;
    color: #999;
}
ul#minitabs a#current{
    border-color: #822b2b;
    color:#57514a;
}
ul#minitabs a:hover{
    border-color: #57514a;
    color: #666;
}
 

.copyright { font-size:14px; color:black; margin-left:10px; margin-top:11px; }